@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background-color: #ffffff;
  --primary-color: #415fff;
  --secondary-color: #ffee1c;
  --disabled-color: #9e9e9e;
  --menu-color: #a5a5a5;
  --criticalColor: #ff0000;
  --text-color: #415fff;
  --secondary-text-color: #ffffff;
  --font-family: "Montserrat", sans-serif;
  --secondary-font-family: "arial", sans-serif;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  /* border: 1px solid red; */
  padding: 0;
}

/* Block */

.App {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}
.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.wrapper__sub {
  width: 70%;
  height: 100%;
  min-height: 500px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color);
  overflow: hidden;
}
.paddinginline__small {
  padding-inline: 30px;
}
.paddingtop__small {
  padding-top: 30px;
}
.error,
.msg {
  font-size: 16px;
  color: var(--criticalColor);
  background-color: #ff000036;
  border: 1px solid var(--criticalColor);
  border-radius: 4px;
  padding: 10px;
}

.msg {
  color: var(--criticalColor);
  background-color: #00c42a36;
  border: 1px solid #006115;
}

/* Block END*/

/* Elements */
h1 {
  font-size: 40px;
  font-weight: bold;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 17px;
}
h5 {
  font-size: 12px;
}

.button {
  width: 98%;
  height: 48px;
  padding: 5px 10px;
  font-family: var(--font-family);
}

input {
  border-style: none;
}
input:focus {
  outline: none;
}
.inputtext {
  width: 200px;
  height: 60px;
  font-size: 20px;
  font-weight: 600;
  color: var(--secondary-text-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 10px;
}

/* Elements END*/

/* Modifier */

.button--invert {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

/* Modifier END */

/* Components */

/*** Header Components ***/
.header {
  width: 100%;
  height: 50px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  justify-content: space-evenly;
  padding-block: 40px;
  position: relative;
}
.header__icon {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.header__title {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
/*** Header Components END***/

/* button {
  border-style: none;
  font: var(--font-family);
  background-color: transparent;
} */
button {
  width: 732px;
  height: 48px;
  padding: 5px 10px;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 600;
  color: var(--secondary-text-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 10px;
}
.button--invert {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

/*** DropDown Menu ***/
.dropDownMenu {
  position: absolute;
  top: 85%;
  right: 2%;
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 3px;
  padding: 10px 20px;
  width: 200px;
  opacity: 1;
  z-index: 9999;
  visibility: visible;
  transition: 0.3s ease-in-out;
}
.dropDownMenu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 8px;
  height: 20px;
  width: 20px;
  background-color: var(--primary-color);
  transform: rotate(45deg);
}
.close {
  /* right: -40%; */
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 0.3s ease-in-out;
}
.dropDownMenu ul li {
  padding: 10px 0;
  border-bottom: 1px solid var(--background-color);
}
.dropDownMenu ul li div .MuiSvgIcon-root {
  color: var(--background-color);
}

.dropDownMenu ul li a {
  text-decoration: none;
}
.dropDownMenu ul li:hover a {
  color: var(--menu-color);
  cursor: pointer;
}

.dropDownItem {
  display: flex;
  gap: 10px;
  margin: 10px auto;
}

/*** DropDown Menu END ***/

/*** statusMenu ***/
.statusMenu {
  width: 94%;
  height: 60px;
  margin-left: 44px;
  /* background-color: darkseagreen; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  position: relative;
  padding-right: 10px;
}
.statusMenu Span {
  font-size: 14px;
  font-weight: 500;
}
.statusMenu__usericon {
  width: 44px;
  height: 44px;
  border-radius: 22px;
}
.statusMenu__shoppingcart {
  width: 50px;
  height: 50px;
  /* background-color: #ffee1c; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.statusMenu__carcount {
  width: 23px;
  height: 23px;
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.statusMenu__carcount span {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.statusMenu__hamburger {
  cursor: pointer;
  padding-right: 5px;
}

/*** statusMenu END ***/

/*** ProductBox ***/
.productBox {
  display: flex;
  width: 732px;
  height: 186px;
  border: 1px solid var(--primary-color); /* Set border color to #415FFF */
  margin-bottom: 50px;
}

.productBox_left {
  width: 186px;
  height: 186px;
  margin: 0px 3% 0 0;
}

.productBox_left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productBox_right {
  width: 100%;
  height: 100%;
  flex: 1 1;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.productBox_infopart {
  width: 100%;
  height: 75%;
}

.productBox_name {
  font-size: 17px;
  font-weight: bold;
  color: var(--primary-color);
}

.productBox_author {
  font-size: 14px;
  color: var(--primary-color);
}
.productBox_divdescription {
  width: 98%;
  height: 55%;
  background-color: #dadada;
  overflow-y: scroll;
}

/* .productBox_editButton {
  width: 477px; 
  height: 48px; 
  padding: 5px 10px;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 600;
  color: var(--secondary-text-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 12px;
  cursor: pointer;
} */

/*** ProductBox END ***/

/*** Orderhistory ProductBox ***/

.orderhistoryPage_list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.orderhistorybox {
  display: flex;
  width: 99%;
  height: 122px;
  border: 1px solid var(--primary-color);
  margin-bottom: 50px;
}

.orderhistorybox_left {
  width: 122px;
  height: 122px;
  margin: 0px 3% 0 0;
}

.orderhistorybox_left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.orderhistorybox_middle {
  width: 50%;
  flex: 1 1;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 30px;
}

.orderhistorybox_ordername {
  font-size: 17px;
  font-weight: bold;
  color: var(--primary-color);
}

.orderhistorybox_price {
  font-size: 14px;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.orderhistorybox_statusButton {
  font-family: var(--font-family);
  font-size: 14px;
  text-align: left;
  color: var(--primary-color);
  border: none;
  padding: 0;
  margin-bottom: 26px;
  cursor: pointer;
}
.orderhistorybox_right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}
.orderhistorybox_right_icon-blue {
  padding-right: 22px;
  color: var(--primary-color);
}
/*** OrderhistoryProductBox END ***/

/* Components  END*/

/* Landingpage */

.landingpage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
/* ***** Login */
.landingpage__login {
  width: 50%;
  background-image: url(./images/BG_L_L.jpg);
}

.landingpage__login--contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 205px;
}
.landingpage__login--logo {
  width: 249.22px;
  /* padding: 36px auto 62px auto; */
}

.landingpage__login--h3 {
  width: 341px;
  color: var(--text-color);
  margin: 0;
  text-align: center;
  padding-top: 36px;
  padding-bottom: 62px;
}

.landingpage__login__inputarea {
  position: relative;
  border-bottom: 1px solid var(--primary-color);
}
.landingpage__login--input-border-bottom {
  width: 328px;
  height: 62px;
  font-size: 20px;
  font: var(--text-color);
  margin-left: 68px;
}
.landingpage__login--input-border-bottom::placeholder {
  color: var(--text-color);
  margin-left: 22px;
}
.landingpage__login--inputicon {
  position: absolute;
  left: 2%;
  top: 14%;
  transform: translate(22px, 10px);
  color: var(--primary-color);
}

.landingpage__login--button {
  width: 390px;
  height: 48px;
  color: var(--secondary-text-color);
  background-color: var(--primary-color);
  font-weight: 600;
  font-size: 20px;
  border-radius: 12px;
  margin-top: 166px;
}
/* *** *Login END*/

/* **** Signup */

.landingpage__signup {
  width: 50%;
  background-image: url(./images/BG_L_R.jpg);
}

.landingpage__signup__bgr {
  width: 960px;
  height: 1080px;
}

.landingpage__signup__DIOLogoR {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 205px auto 0 auto;
}

.landingpage__signup h3 {
  width: 284px;
  text-align: center;
  margin: 36px auto;
  color: var(--primary-color);
}

.landingpage__signup__input-boxdesign {
  position: relative;
  width: 370px;
  height: 28px;
  font-size: 20px;
  font-style: bold italic;
  padding: 10px;
  text-align: left;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  margin: 6px auto 0 auto;
}

input[type="text"]:focus ~ label,
input[type="email"]:focus ~ label,
input[type="password"]:focus ~ label,
input[type="text"]:not(:placeholder-shown) ~ label,
input[type="email"]:not(:placeholder-shown) ~ label,
input[type="password"]:not(:placeholder-shown) ~ label {
  transform: translate(0, -25px);
  font-size: 20px;
  color: #6bace4;
}

.landingpage__signup__input {
  width: 390px;
  margin: 0 auto;
}

.landingpage__signup__button {
  position: relative;
  width: 390px;
  height: 48px;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid var(--primary-color);
  border-radius: 12px;
  margin: 36px auto 0 auto;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
}
.landingpage__signup__button h2 {
  color: var(--secondary-text-color);
  margin: 0 auto;
}
/* **** Signup END*/
/* Landingpage   END*/

/* BuySell*/
.BuySell {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.buysell__buyitems {
  width: 50%;
  background-image: url(./images/BG_L_L_B.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buysell__buyitems__button {
  position: relative;
  width: 260px;
  height: 178px;
  margin: auto;
  display: block;
  padding: 10px;
  background-color: var(--background-transparent);
  text-align: center;
}
.buysell__buyitems__button h6 {
  color: var(--secondary-text-color);
  margin: 0 auto;
}

.buysell__sellitems {
  width: 50%;
  background-image: url(./images/BG_L_L_B.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buysell__sellitems__button {
  position: relative;
  width: 260px;
  height: 178px;
  margin: auto;
  display: block;
  padding: 10px;
  background-color: var(--background-transparent);
  text-align: center;
}
.buysell__sellitems__button h6 {
  color: var(--background-colorB);
  margin: 0 auto;
}

.buysell__sellitems {
  width: 50%;
  background-image: url(./images/BG_L_L.jpg);
}

/* @media only screen and (max-width: 430px) {
  .BuySell {
    flex-direction: column;
  }

  .buysell__buyitems,
  .buysell__sellitems {
    width: 100%;
    height: 50vh;
  }
} */

/* BuySell   END*/

/* Selling page */

.sellingitem__titleblock {
  display: flex;
  align-items: center;
}
.sellingitem__titleblock__icon {
  width: 25px;
  height: 25px;
}
.sellingitem__divaddtitle {
  width: 100%;
  height: 45px;
  position: relative;
}
.sellingitem__inputblocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sellingitem__formctrl {
  width: 98%;
}
.sellingitem__inputadditem {
  width: 98%;
  font-size: 20px;
  padding: 5px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--disabled-color);
  outline: none;
  color: var(--primary-color);
}
.sellingitem__inputadditem:focus,
.sellingitem__inputadditem:valid {
  border-color: var(--primary-color);
}
.sellingitem__divaddtitle label {
  font-size: 20px;
  position: absolute;
  left: 0;
  bottom: 10px;
  cursor: text;
  transition: 0.5s ease-in-out;
}

.sellingitem__inputadditem:focus ~ label,
.sellingitem__inputadditem:valid ~ label {
  transform: translateY(-33px);
  font-size: 12px;
  font-weight: bold;
}

.sellingitem__divdescription {
  width: 100%;
  height: 200px;
  position: relative;
}

.sellingitem__inputdesc {
  width: 98%;
  height: 150px;
  font-size: 20px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid var(--disabled-color);
  background-color: transparent;
  outline: none;
  resize: none;
  color: var(--primary-color);
}

.sellingitem__inputdesc:focus,
.sellingitem__inputdesc:valid {
  border-color: var(--primary-color);
}

.sellingitem__inputdesc::placeholder {
  font-size: 20px;
  color: var(--primary-color);
}

.sellingitem__descriptionLimit {
  position: absolute;
  bottom: 38px;
  right: 38px;
}

.sellingitem__descriptionLimit--red {
  color: var(--criticalColor);
  font-weight: 600;
}
.sellingitem__addimage {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  padding-bottom: 20px;
}

.uploadimg {
  width: 350px;
  height: 180px;
  border: 2px dashed #415fff;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.uploadimg__input {
  display: none;
}
.uploadimg label {
  width: 350px;
  height: 180px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.uploadimg img {
  width: 100%;
  height: auto;
  border-radius: 9px;
}

.uploadimg h4 {
  color: var(--criticalColor);
}

/* Selling page END */

/*** View Item Details ***/

.viewItem__imagewrapper {
  width: 95%;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewItem__imagewrapper img {
  width: 50%;
  height: 300px;
}

.viewItem__pricenamediv {
  width: 95%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.viewItem__pricenamediv span {
  font-size: 30px;
}

.viewItem__namediv,
.viewItem__descdiv {
  width: 95%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid var(--primary-color);
}

.viewItem__descdiv {
  padding-bottom: 10px;
}

.comment-create {
  display: flex;
  justify-content: center;
  width: 98%;
  height: 320px;
  border: 1px solid var(--primary-color);
  flex-direction: column;
  /* flex-wrap: nowrap; */
  align-items: center;
  margin-top: 50px;
}

.comment-create-h2 {
  /* margin-top: 64px; */
}
.comment-create-write {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 20px;
}

.comment-create-textarea {
  margin: 30px 0;
}
/* Cart page */

.cart_titleblock {
  display: flex;
  align-items: center;
  margin-bottom: 44px;
}
.cart_titleblock__icon {
  width: 25px;
  height: 25px;
}
.cart_orderHistoryBox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.cart_total {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 50px;
  font-family: var(--secondary-font-family);
}
.cart_total_h5-fontweight300 {
  font-weight: 400;
  margin-bottom: 32px;
}
.cart_total_h1-fontweight300 {
  font-weight: 400;
  margin-bottom: 32px;
}
.cart_taxes_line,
.cart_subtotal_line {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  padding: 36px 0;
}
.cart_subtotal_line {
  border-top: none;
}
.cart_taxes,
.cart_subtotal {
  font-family: var(--secondary-font-family);
  margin-left: 136px;
  font-weight: 300;
}
.cart_taxes_sum,
.cart_subtotal_sum {
  font-family: var(--secondary-font-family);
  margin-right: 16px;
  font-weight: 300;
}
.cart_subtotal_sum {
  font-family: var(--secondary-font-family);
  font-weight: 300;
}

.cart_point {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  margin-top: 64px;
}

.cart_button {
  margin-top: 96px;
  margin-bottom: 144px;
}
/* Car page END */

/* Browse Items Page */
.browseitems_titleblock {
  display: flex;
  align-items: center;
}

.browseitems_categoryblock {
  width: 460px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
}
.browseitems_category {
  width: 100px;
  height: 100px;
  color: var(--disabled-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.browseitems_categoryicon {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: 2px solid var(--disabled-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.browseitems_category--selected {
  color: var(--primary-color);
}

.browseitems_categoryicon--selected {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.browseitems_typeblock {
  width: 460px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
}

.browseitems__typeicon {
  width: 40px;
  height: auto;
}

/* Browse Items Page */

/* Media queries */

@media (max-width: 1243px) {
  .uploadimg {
    width: 300px;
    height: 154px;
  }
  /* .sellingitem__addimage {
    grid-template-columns: repeat(1, 1fr);
  } */
}

@media (max-width: 1054px) {
  .wrapper__sub {
    width: 80%;
  }
  .uploadimg {
    width: 280px;
    height: 144px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
    font-weight: bold;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 13px;
  }
  h5 {
    font-size: 8px;
  }
  .wrapper__sub {
    width: 90%;
  }
  .header__icon {
    left: 5%;
  }
  .header__title {
    width: 75%;
  }
  .header__title h1 {
    font-size: 25px;
  }
  .wrapper__sub {
    width: 100%;
  }
}

/* Hannah */
/* Listed Items page */
.listeditemsPage_h3-blue {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  margin-bottom: 68px;
}

/*  Listed Items page END */

/* Orderhistory page */
.orderhistoryPage_h3section {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  margin-bottom: 68px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}
.orderhistoryPage_Button {
  width: 732px;
  height: 48px;
  padding: 5px 10px;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 600;
  color: var(--secondary-text-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

/* Orderhistory page END */

/* BuySell*/
.BuySell {
  width: 100%;
  height: 1080px;
  display: flex;
  flex-direction: row;
}

.buysell__buyitems {
  width: 50%;
  background-image: url(./images/BG_L_L_B.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buysell__buyitems__button {
  position: relative;
  width: 260px;
  height: 178px;
  margin: auto;
  display: block;
  padding: 10px;
  background-color: var(--background-transparent);
  text-align: center;
}
.buysell__buyitems__button h6 {
  color: var(--secondary-text-color);
  margin: 0 auto;
}

.buysell__sellitems {
  width: 50%;
  background-image: url(./images/BG_L_L_B.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buysell__sellitems__button {
  position: relative;
  width: 260px;
  height: 178px;
  color: var(--primary-color);
  margin: auto;
  display: block;
  padding: 10px;
  background-color: var(--background-transparent);
  text-align: center;
}
.buysell__sellitems__button h6 {
  color: var(--background-colorB);
  margin: 0 auto;
}

.buysell__sellitems {
  width: 50%;
  background-image: url(./images/BG_L_L.jpg);
}

/* @media only screen and (max-width: 430px) {
  .BuySell {
    flex-direction: column;
  }

  .buysell__buyitems,
  .buysell__sellitems {
    width: 100%;
    height: 50vh;
  }
} */

/* BuySell   END*/

/* Wishlist */

.wishlist__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--primary-color);
  width: 100%;
  height: 100px;
}

.Wishlist__items,
.browseitem__items {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

/* Wishlist END */

/* Product Thumbnail */

.productThumbnail__container {
  display: flex;
  flex-direction: column;
  width: 165px;
  height: 210px;
  border: 2px solid #415fff;
}

.productThumbnail__imageblock {
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.productThumbnail__image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.productThumbnail__info {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
}
.productThumbnail__infoleft {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.productThumbnail__name {
  font-size: 17px;
}

.productThumbnail__price {
  font-size: 14px;
}

.productThumbnail__icon {
  color: var(--primary-color);
  cursor: pointer;
}

.productThumbnail__icon__top {
  display: none;
}

/* @media only screen and (max-width: 430px) {
  .wishlist__menu {
    height: 60px;
  }

  .wishlist__title h3 {
    color: var(--primary-color);
    font-size: 16px;
    justify-content: left;
    width: 100%;
    margin-left: 20px;
  }

  .product__icon__top {
    display: none;
  }

  .wishlist__title {
    height: 60px;
  }

  .Wishlist__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .product__container {
    width: 190px;
    height: 232px;
  }

  .product__image {
    width: 190px;
    height: 167px;
    object-fit: cover;
  }

  .product__name {
    width: 130px;
  }

  .product__price {
    width: 130px;
    font-weight: 400;
  }

  .product__icon {
    margin-top: 4px;
    margin-left: 150px;
  }
} */

/* Wishlist   END*/

/* AccountDetails */
.Account__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
}

.Address__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 125px;
}
.Accoundetails__Account__input {
  width: 100%;
  height: auto;
}

.Accoundetails__Account__input-boxdesign {
  position: relative;
  width: 96%;
  height: 28px;
  font-size: 20px;
  font-style: bold italic;
  padding: 10px;
  text-align: left;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  margin: 6px auto 0 auto;
}

input[type="text"]:focus ~ label,
input[type="email"]:focus ~ label,
input[type="password"]:focus ~ label,
input[type="text"]:not(:placeholder-shown) ~ label,
input[type="email"]:not(:placeholder-shown) ~ label,
input[type="password"]:not(:placeholder-shown) ~ label {
  transform: translate(0, -25px);
  font-size: 20px;
  color: #6bace4;
}

.Accountdetails_Account__input {
  width: 390px;
  margin: 0 auto;
}

.Accoundetails__Address__input-boxdesign {
  position: relative;
  width: 712px;
  height: 28px;
  font-size: 20px;
  font-style: bold italic;
  padding: 10px;
  text-align: left;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  margin: 6px auto 0 auto;
}

input[type="address1"]:focus ~ label,
input[type="address2"]:focus ~ label,
input[type="Surburb"]:focus ~ label,
input[type="City"]:focus ~ label,
input[type="PostCode"]:focus ~ label,
input[type="Phone"]:focus ~ label,
input[type="address1"]:not(:placeholder-shown) ~ label,
input[type="address2"]:not(:placeholder-shown) ~ label,
input[type="Surburb"]:not(:placeholder-shown)
  ~ label
  input[type="City"]:not(:placeholder-shown)
  ~ label,
input[type="PostCode"]:not(:placeholder-shown) ~ label,
input[type="Phone"]:not(:placeholder-shown) ~ label {
  transform: translate(0, -25px);
  font-size: 20px;
  color: #6bace4;
}

.Accountdetails_Address__input {
  width: 390px;
  margin: 0 auto;
}

.Accoundetails__save__button {
  position: relative;
  width: 732px;
  /* width: 390px; */
  height: 48px;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid var(--primary-color);
  border-radius: 12px;
  margin: 100px auto 0 auto;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  /* display: flex;
  justify-content: center; */
}
.Accoundetails__save__button h2 {
  color: var(--secondary-text-color);
  margin: 0 auto;
}

.Accoundetails__delete__button {
  position: relative;
  width: 732px;
  height: 48px;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid var(--primary-color);
  border-radius: 12px;
  margin: 12px auto 200px auto;
  background-color: var(--background-color);
  color: var(--primary-color);
}
.Accoundetails__delete__button h2 {
  color: var(--secondary-text-color);
  margin: 0 auto;
}

/* AccountDetails   END*/

/* Msgbox */
.popup_bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 450;
  width: 100vw;
  height: 100vh;
  background-color: #000000d1;
}

.popup__container {
  width: 40%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--primary-color);
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: var(--primary-color);
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup__btn {
  width: 60%;
  height: 48px;
  padding: 5px 10px;
  margin: 0 auto;
}

.popup__content {
  /* flex: 1; */
  padding: 20px;
}

.hide {
  display: none;
}

/* Msgbox END */

@media (max-width: 1243px) {
  /* styles for screens with a max width of 1243px */
  .uploadimg {
    width: 300px;
    height: 154px;

    /* .sellingitem__addimage {
    grid-template-columns: repeat(1, 1fr);
  } */
  }

  .MuiSvgIcon-root {
    color: var(--primary-color);
  }

  body {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

/* Msgbox END */

/* Media Query Controls */

@media (max-width: 1054px) {
  /* styles for screens with a max width of 1054px */
  .wrapper__sub {
    width: 80%;
  }
  .uploadimg {
    width: 280px;
    height: 144px;
  }

  .Wishlist__items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .Accoundetails__Account__input-boxdesign,
  .Accoundetails__Address__input-boxdesign {
    width: 548px;
  }
  .Accoundetails__save__button,
  .Accoundetails__delete__button {
    width: 568px;
  }

  h1 {
    font-size: 36px;
    font-weight: bold;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 13px;
  }
  h5 {
    font-size: 8px;
  }
  .wrapper__sub {
    width: 90%;
  }
  .header__icon {
    left: 5%;
  }
  .header__title {
    width: 75%;
  }
  .header__title h1 {
    font-size: 25px;
  }
  .orderhistoryPage_Button {
    width: 100%;
    margin: 0 auto;
  }
  .orderhistorybox {
    width: 100%;
  }
  .productBox {
    width: 390px;
    height: 186px;
  }
  .cart_button {
    width: 100%;
  }
  /* .productBox_editButton {
    width: 166px;
    height: 48px;
  } */

  /* landingPage */

  .landingpage {
    flex-direction: column;
  }

  .landingpage__login,
  .landingpage__signup {
    width: 100vw;
  }

  .landingpage__login {
    order: 1;
    background-image: url(./images/BG_L_L.jpg);
    background-size: 932px auto;
  }

  .landingpage__signup {
    order: 2;
    background-image: url(./images/BG_L_R.jpg);
  }

  .landingpage__signup__DIOLogoR {
    padding-top: 100px;
  }

  .landingpage__login--h3,
  .landingpage__signup h3 {
    width: 80%;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .landingpage__login__inputarea,
  .landingpage__signup__input-boxdesign {
    width: 100%;
  }

  .landingpage__login--input-border-bottom::placeholder,
  .landingpage__signup__input-boxdesign::placeholder {
    font-size: 16px;
  }

  .landingpage__login--button,
  .landingpage__signup__button {
    width: 100%;
    margin-top: 182px;
  }
  .landingpage__signup__contents,
  .landingpage__login--contents {
    margin-top: 228px;
    margin-bottom: 184px;
    padding: 0;
  }

  /* landingPage */
}

@media (max-width: 480px) {
  /* styles for screens with a max width of 480px */
  .wrapper__sub {
    width: 100%;
  }

  .BuySell {
    flex-direction: column;
  }

  .buysell__buyitems,
  .buysell__sellitems {
    width: 100%;
    height: 50vh;
  }

  .wishlist__menu {
    height: 60px;
  }

  .wishlist__title h3 {
    color: var(--primary-color);
    font-size: 16px;
    justify-content: left;
    width: 100%;
    margin-left: 20px;
  }

  .product__icon__top {
    display: none;
  }

  .wishlist__title {
    height: 60px;
  }

  .Wishlist__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .product__container {
    width: 190px;
    height: 232px;
  }

  .product__image {
    width: 190px;
    height: 167px;
    object-fit: cover;
  }

  .product__name {
    width: 130px;
  }

  .product__price {
    width: 130px;
    font-weight: 400;
  }

  .product__icon {
    margin-top: 4px;
    margin-left: 150px;
  }

  .Account__title h3,
  .Address__title h3 {
    color: var(--primary-color);
    font-size: 16px;
    justify-content: left;
    width: 100%;
    margin-left: 20px;
  }

  .Accoundetails__Account__input-boxdesign,
  .Accoundetails__Address__input-boxdesign {
    width: 370px;
  }

  .Accoundetails__save__button,
  .Accoundetails__delete__button {
    width: 390px;
  }

  .sellingitem__addimage {
    grid-template-columns: repeat(1, 1fr);
  }

  .browseitems_categoryblock {
    width: 95%;
    grid-gap: 5px;
  }

  .browseitems_category {
    width: 70px;
    height: 70px;
  }

  .browseitems_categoryicon {
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }

  .popup__container {
    position: fixed;
    width: 390px;
    height: 680px;
  }

  .BuySell {
    flex-direction: column;
  }

  .buysell__buyitems,
  .buysell__sellitems {
    width: 100%;
    height: 50vh;
  }
}

@media only screen and (max-width: 430px) {
  .wishlist__menu {
    height: 60px;
  }
}

@media only screen and (max-width: 355px) {
}

/* Media Query Controls END */
